#eventpage2 {
  margin: 1%;
  text-align: left;
  border: 2px #D98283;
  border-style: dotted;
}

#eventpage2 p {
  font-size: 16px;
  text-align: center;
}

#eventpage2 h1 {
  margin: 0;
  text-align: center;
  font-size: 32px;
}

#eventpage img {
  width: 10%;
  float: left;
}

#eventpage h1 {
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  text-align: left;
}

#eventpage p {
  border-top: 2px dotted black;
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 16px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  #documentpage2 {
    margin: 0 10%;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #eventpage img {
    width: 25%;
    float: left;
  }

  #eventpage h1 {
    margin-left: 300px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #eventpage h3 {
    margin-left: 300px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  #eventpage p {
    border-top: 2px dotted black;
    margin-left: 300px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  #eventpage2 {
    margin-left: 0;
    margin-right: 25px;
    padding: 2%;
    text-align: left;
    border: 2px #D98283;
    border-style: dotted;
  }

  #eventpage2 h1 {
    margin: 0;
    text-align: left;
  }

  #eventpage2 p {
    text-align: left;
  }
