* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bkgColour);
    padding: 1rem;
    font-family: var(--bodyFont);
}

a:link,
a:visited {
    color: var(--bodyFont);
    text-decoration: none;
    cursor: pointer;
}